<script src="/script/allfiles.js"></script>
<link rel="stylesheet" href="/css/allfiles.css">
<section>
<div class="link">Internal</div>
<div class="contenar">
    <div id="files" class="files">

    </div>
</div>
    <div class="imgview">
        <div class="load"></div>
        <a href="#" class="closebtn" onclick="closeImg()"> <div class="close"></div> </a>
    </div>
</section>
