<script src="/socket.io/socket.io.js"></script>
<script src="/script/player.js"></script>
<link rel="stylesheet" href="/css/player.css">
<section id="cn">
    <div>
        <h1>Connect your controlar</h1>
        <h1 id="idno"></h1>
    </div>
</section>
<section id="vid">
    <video id="vidoc" src=""></video>
</section>
<section id="aud">
    <audio id="audioc" src=""></audio>
</section>
