<script src="/script/show.js"></script>
<link rel="stylesheet" href="/css/show.css">
<section>
    <div class="title">
        <h1>Select what you want to see</h1>
    </div>
    <div class="files-list">

        <h1 class="song">Song</h1>
        <div class="songs list"></div>

        <h1 class="video">Video</h1>
        <div class="videos list"></div>

        <h1 class="photo">Photo</h1>
        <div class="photos list"></div>

    </div>

</section>