<section class="contener">
    <div class="inputs">
        <input id="file" class="file" type="file">
        <br>
        <input id="submit-file" class="but" type="submit">
    </div>
</section>
<script src="./script/upload.js"></script>