<link rel="stylesheet" href="/css/upload.css">
<section class="contener">
    <div class="inputs">
        <input id="file" class="file" type="file">
        <br>
        <input id="submit-file" class="but" type="submit">
    </div>
    <div class="uploading">
        <div class="progress">
            <div class="done"></div>
        </div>
        <div class="amount">
            <div class="left">422</div>
            <div class="right">10042</div>
        </div>
    </div>
</section>
<script src="./script/upload.js"></script>